@page "/tax";

<MudText Typo="Typo.h6">
    <MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="Create" OnClick="CreatePopUp"></MudIconButton>
    Tax
</MudText>

@if (responseModel is not null)
{
int count = 0;
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>No.</th>
                <th>From Amount</th>
                <th>To Amount</th>
                <th>Tax Type</th>
                <th>Percentage</th>
                <th>Fixed Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in responseModel.Data.Tax)
        {
            <tr>
                    <td>@(++count + ((responseModel.PageSetting.PageNo - 1) * responseModel.PageSetting.PageSize))</td>
                    <td>@item.FromAmount</td>
                    <td>@item.ToAmount</td>
                    <td>@item.TaxType</td>
                    <td>@Math.Round(Convert.ToDecimal(item.Percentage), 1) %</td>
                    <td>@Convert.ToInt32(item.FixedAmount)</td>
                    <td>
                        <MudButton Variant=" MudBlazor.Variant.Filled" Size="Size.Small" OnClick="() => EditPopUp(item.TaxId, item.FromAmount, item.ToAmount, item.Percentage, item.FixedAmount, item.TaxType)" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Primary">Edit</MudButton>
                        <MudButton Variant="MudBlazor.Variant.Filled" Size="Size.Small" OnClick="() => DeletePopUp(item.TaxId)" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error">Delete</MudButton>
                    </td>
                </tr>
        }
        </tbody>
    </MudSimpleTable>

    <MudPagination SelectedChanged="PageChanged" Variant="MudBlazor.Variant.Filled" Count="@responseModel.PageSetting.PageCount" Style="margin-top:3%" />
}