@page "/checkout"

@if (saleInvoiceFormType == EnumSaleInvoiceFormType.Checkout)
{
    <MudGrid>
        <MudItem xs="6">
            <MudPaper Class="d-flex align-center justify-center mud-width-full  py-8">
                <MudGrid>
                    <MudItem xs="12">
                        <MudText Align="Align.Center"> Checkout </MudText>
                    </MudItem>
                    @if (SaleInvoiceDetails.Count > 0)
                    {
                        @foreach (var product in SaleInvoiceDetails)
                        {
                            if (product.Quantity > 0)
                            {
                                <MudItem xs="12">
                                    <MudPaper Elevation="0">
                                        <div class="d-flex align-center  ml-8 ">
                                            <MudAvatar Color="Color.Success" Variant="MudBlazor.Variant.Outlined">
                                                @product.ProductName.Substring(0, 1)
                                            </MudAvatar>
                                            <MudText Align="Align.Center" Class="pa-2">@product.ProductName</MudText>
                                            <MudText Align="Align.Right">@product.Amount  </MudText>
                                        </div>
                                        <div class="d-flex align-center ml-16 ">
                                            <MudText Align="Align.Left">
                                                <MudIconButton Icon="@Icons.Material.Filled.AddCircle" OnClick="@(()=>IncreaseCount(product))"> </MudIconButton>
                                            </MudText>
                                            <MudText Align="Align.Center" Typo="Typo.body2">@product.Quantity</MudText>
                                            <MudText Align="Align.Right" Typo="Typo.body2">
                                                <MudIconButton Icon="@Icons.Material.Filled.RemoveCircle" OnClick="@(()=>DecreaseCount(product,1))"></MudIconButton>
                                            </MudText>
                                            <MudText>
                                                <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="@(()=>DecreaseCount(product,product.Quantity))"> </MudIconButton>
                                            </MudText>
                                        </div>
                                    </MudPaper>
                                </MudItem>
                            }
                        }
                        <MudItem xs="12">
                            <MudAlert Severity="Severity.Info" Class="my-2" Variant="MudBlazor.Variant.Outlined">Total Amount : @SaleInvoiceDetails.Sum(x => x.Amount)</MudAlert>
                        </MudItem>
                    }
                </MudGrid>
            </MudPaper>
        </MudItem>

        <MudItem xs="6" Elevation="0">
            <MudPaper Class="d-flex align-center justify-center mud-width-full  py-8">
                <MudGrid>
                    <MudItem xs="12" class="ml-5 mr-5">
                        <MudText Align="Align.Center"> Payment </MudText>
                        <div class="d-flex justify-center">
                            <MudImage ObjectPosition="ObjectPosition.Center" Src="kbzpay.jpg" Elevation="25" Class="rounded-lg" Width="75" />
                        </div>
                        <MudTextField @bind-Value="@reqModel.CustomerAccountNo" Label="Customer Account No" Variant="MudBlazor.Variant.Text"></MudTextField>
                        <MudTextField @bind-Value="@reqModel.PaymentAmount" Label="Payment Amount" Variant="MudBlazor.Variant.Text"></MudTextField>
                        <MudTextField @bind-Value="@reqModel.ReceiveAmount" Label="Receive Amount" Variant="MudBlazor.Variant.Text"></MudTextField>
                        <MudTextField Value="@reqModel.Change" Label="Change" Variant="MudBlazor.Variant.Text" ReadOnly></MudTextField>
                    </MudItem>
                    <MudItem xs="12" Class="d-flex align-center justify-center">
                        <MudButton Variant="MudBlazor.Variant.Outlined" Color="Color.Primary" OnClick="()=>Pay()">Pay</MudButton>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>
        <MudItem>
            <MudButton Class="my-4" Variant="MudBlazor.Variant.Outlined" Color="Color.Warning" OnClick="()=>Back()">Back</MudButton>

        </MudItem>
    </MudGrid>
}
else if (saleInvoiceFormType == EnumSaleInvoiceFormType.SaleProduct)
{
    <P_SaleInvoice />
}
