<MudDialog>
    <DialogContent>
        <MudTextField @bind-Value="voucherNo" Label="Voucher No" ReadOnly/>
        <MudSimpleTable Style="overflow-x: auto;">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lstSaleInvoiceDetail)
                {
                    <tr>
                        <td>@(++count)</td>
                        <td>@item.ProductName</td>
                        <td align="right">@item.Quantity</td>
                        <td align="right">@item.Price</td>
                        <td align="right">@item.Amount</td>
                    </tr>
                }
                <tr>
                    <td colspan="3">Total Amount :</td>
                    <td colspan="2">@lstSaleInvoiceDetail.Sum(x=>x.Amount)</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Ok</MudButton>
    </DialogActions>
</MudDialog>