@page "/sale-invoice-list"

<MudText Typo="Typo.h6">
    <MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="Create" OnClick="Create"></MudIconButton>
    Sale Invoice
</MudText>


@if (ResponseModel is not null)
{
int count = 0;
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Date</th>
                <th>Voucher No</th>
                <th>Staff Code</th>
                <th>Total Amount</th>
                <th>Discount</th>
                <th>Tax</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ResponseModel.Data.SaleInvoice)
        {
            <tr>
                    <td>@(++count + ((pageNo - 1) * pageSize))</td>
                    <td>@item.SaleInvoiceDateTime.ToString("dd-MM-yyyy")</td>
                    <td>@item.VoucherNo</td>
                    <td>@item.StaffCode</td>
                    <td>@item.TotalAmount</td>
                    <td>@item.Discount</td>
                    <td>@item.Tax</td>
                    <td><MudIconButton Icon="@Icons.Material.Filled.Settings" Variant="MudBlazor.Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="@(()=>Popup(item.VoucherNo))"/></td>
                </tr>
        }
        </tbody>
    </MudSimpleTable>
    <MudPagination SelectedChanged="PageChanged" Count="@ResponseModel.PageSetting.PageCount" Class="pa-4" />
}
