@page "/sale-receipt/{VoucherNo?}"
@layout EmptyLayout

<MudGrid>
    @if (ResponseModel is not null)
{
    <MudItem xs="3"></MudItem>
    <MudItem xs="6">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Style="color:#A9B0BB">Invoice No</MudText>
                        <MudText># @VoucherNo</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudText Style="color:#A9B0BB">Payment Date</MudText>
                        <MudText>@ResponseModel.SaleInvoiceDateTime.ToString("dd-MM-yyyy hh:mm:ss tt")</MudText>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudSimpleTable Elevation="0">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ResponseModel.SaleInvoiceDetails)
                        {
                            <tr>
                                    <td>@(++count)</td>
                                    <td>@item.ProductName</td>
                                    <td align="right">@item.Quantity</td>
                                    <td align="right">@item.Price</td>
                                    <td align="right">@item.Amount</td>
                                </tr>
                        }
                            <tr class="border-dashed">
                                <td colspan="4">Total Amount </td>
                                <td colspan="1">@ResponseModel.TotalAmount</td>
                            </tr>
                            <tr>
                                <td colspan="4">Discount  </td>
                                <td colspan="1">@ResponseModel.Discount</td>
                            </tr>
                            <tr>
                                <td colspan="4">Tax  </td>
                                <td colspan="1">@ResponseModel.Tax</td>
                            </tr>
                            <tr>
                                <td colspan="4">Cash </td>
                                <td colspan="1">@ResponseModel.ReceiveAmount</td>
                            </tr>
                            <tr>
                                <td colspan="4">Change </td>
                                <td colspan="1">@ResponseModel.Change</td>
                            </tr>
                        </tbody>
                    </MudSimpleTable>
                </MudCardContent>
                <MudCardActions Class="pa-6">
                    <MudButton Class="my-4 " Variant="MudBlazor.Variant.Outlined" Color="Color.Success" Href="/sale-invoice-list">Back</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
}
else
{
    <MudText>No Invoice Data Available</MudText>
}
</MudGrid>
