@page "/sale-invoice"
@using Newtonsoft.Json;

@if (saleInvoiceFormType == EnumSaleInvoiceFormType.SaleProduct)
{
    @if (ResponseModel is not null)
    {
        <MudGrid>
            <MudItem xs="9" Elevation="0">
                <MudPaper Elevation="0">
                    <div class="d-flex align-center">
                        <MudTextField Immediate="true" @bind-Value="Search" Label="Search" Variant="MudBlazor.Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Default" OnAdornmentClick="SearchIcon" OnKeyDown="SearchIcon" />
                    </div>
                </MudPaper>
                <MudPaper Elevation="0" Class="d-flex align-center justify-center mud-width-full mud-height-full">
                    <MudGrid>
                        @foreach (var item in lstProduct)
                        {
                            <MudItem xs="3">
                                <MudPaper Class="py-4">
                                    <div class="d-flex justify-center" Elevation="25">
                                        <MudLink OnClick="@(()=>AddItem(item))" Underline="Underline.None">
                                            <MudAvatar Color="Color.Success" Variant="MudBlazor.Variant.Outlined">
                                                @item.ProductName.Substring(0, 1)
                                            </MudAvatar>
                                        </MudLink>
                                    </div>
                                    <MudText Align="Align.Center" Typo="Typo.body2">@item.Price</MudText>
                                    <MudText Align="Align.Center" Typo="Typo.body2">@item.ProductName</MudText>
                                </MudPaper>
                            </MudItem>
                        }
                    </MudGrid>
                </MudPaper>
            </MudItem>
            <MudItem xs="3">
                <MudPaper Class="d-flex align-center justify-center mud-width-full  py-8">
                    <MudGrid>
                        <MudItem xs="12">
                            <MudPaper Elevation="0">
                                <div class="d-flex align-center  ml-8 ">
                                    <MudText Align="Align.Left">New Order  </MudText>
                                </div>
                            </MudPaper>
                        </MudItem>
                        @if (lstSaleInvoice is not null && lstSaleInvoice.Count > 0)
                        {
                            @foreach (var product in lstSaleInvoice)
                            {
                                if (product.Quantity > 0)
                                {
                                    <MudItem xs="12">
                                        <MudPaper Elevation="0">
                                            <div class="d-flex align-center  ml-8 ">
                                                <MudAvatar Color="Color.Success" Variant="MudBlazor.Variant.Outlined">
                                                    @product.ProductName.Substring(0, 1)
                                                </MudAvatar>
                                                <MudText Align="Align.Center" Class="pa-2">@product.ProductName</MudText>
                                                <MudText Align="Align.Right">@product.Amount  </MudText>
                                            </div>
                                            <div>
                                                <div class="d-flex align-center ml-16 ">
                                                    <MudText Align="Align.Left">
                                                        <MudIconButton Icon="@Icons.Material.Filled.AddCircle" OnClick="@(()=>IncreaseCount(product))"> </MudIconButton>
                                                    </MudText>
                                                    <MudText Align="Align.Center" Typo="Typo.body2">@product.Quantity</MudText>
                                                    <MudText Align="Align.Right" Typo="Typo.body2">
                                                        <MudIconButton Icon="@Icons.Material.Filled.RemoveCircle" OnClick="@(()=>DecreaseCount(product,1))"></MudIconButton>
                                                    </MudText>
                                                    <MudText>
                                                        <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="@(()=>DecreaseCount(product,product.Quantity))"> </MudIconButton>
                                                    </MudText>
                                                </div>
                                            </div>
                                        </MudPaper>
                                    </MudItem>
                                }
                            }
                        }
                    </MudGrid>
                </MudPaper>
                @if (lstSaleInvoice is not null && lstSaleInvoice.Sum(x => x.Amount) > 0)
                {
                    <MudAlert Severity="Severity.Info" Class="my-2" Variant="MudBlazor.Variant.Outlined">@lstSaleInvoice.Sum(x => x.Amount)</MudAlert>
                }
                <MudButton FullWidth="true" Class="my-2" Variant="MudBlazor.Variant.Filled" Color="Color.Success" OnClick="()=>Pay()">Pay</MudButton>
            </MudItem>
        </MudGrid>
    }
}
else if (saleInvoiceFormType == EnumSaleInvoiceFormType.Checkout)
{
    <P_CheckOut SaleInvoiceDetails="lstSaleInvoice" />
}

