@page "/township"

<MudText Typo="Typo.h6">
    <MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="Create" OnClick="@(()=>Popup("New Township"))"></MudIconButton>
    Township
</MudText>

@if (ResponseModel is not null)
{
    int count = 0;
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>No.</th>
                <th>State Code</th>
                <th>Township Code</th>
                <th>Township Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ResponseModel.Data.Township)
            {
                <tr>
                    <td>@(++count)</td>
                    <td>@item.StateCode</td>
                    <td>@item.TownshipCode</td>
                    <td>@item.TownshipName</td>
                    <td>
                        <MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Warning" Size="Size.Small" OnClick="@(()=>Popup("Edit Township"))">Edit</MudButton>
                        <MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" OnClick="Delete">Delete</MudButton>
                    </td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
}

@code {
    private TownshipListResponseModel? ResponseModel;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InjectService.EnableLoading();
            await List();
            StateHasChanged();
            await InjectService.DisableLoading();
        }
    }

    private async Task List()
    {
        ResponseModel = await HttpClientService.ExecuteAsync<TownshipListResponseModel>(Endpoints.Township, EnumHttpMethod.Get);
    }

    private async Task Popup(string title)
    {
        var result = await InjectService.ShowModalBoxAsync<P_TownshipDialog>(title);
        if (!result.Canceled)
        {
            await List();
        }
    }

    private async Task Delete()
    {
        var parameters = new DialogParameters<P_TownshipDeleteDialog>();
        parameters.Add(x => x.contentText, "Are you sure you want to delete?");
        parameters.Add(x => x.buttonText, "Delete");
        parameters.Add(x => x.color, Color.Error);

        var options = new MudBlazor.DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var result = await InjectService.ShowModalBoxAsync<P_TownshipDeleteDialog>("Delete", parameters);
    }
}
