@page "/product"
@* @attribute [StreamRendering(true)] *@

<MudText Typo="Typo.h6">
    <MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="Create" OnClick="@(()=>Popup("New Product"))"></MudIconButton>
    Product
</MudText>


@if (ResponseModel is not null)
{
int count = 0;
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Product Category Code</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ResponseModel.Data.Product)
        {
            <tr>
                    <td>@(++count + ((ResponseModel.PageSetting.PageNo - 1) * ResponseModel.PageSetting.PageSize))</td>
                    <td>@item.ProductCode</td>
                    <td>@item.ProductName</td>
                    <td>@item.ProductCategoryCode</td>
                    <td>@item.Price</td>
                    <td>
                        <MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Primary" Size="Size.Small" OnClick="@(()=>EditPopUp(item.ProductId, item.ProductCode, item.ProductName, item.ProductCategoryCode, item.Price))">Edit</MudButton>
                        <MudButton Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" OnClick="@(()=>Delete(item.ProductId))">Delete</MudButton>
                    </td>
                </tr>
        }
        </tbody>
    </MudSimpleTable>

    <MudPagination SelectedChanged="PageChanged" Variant="MudBlazor.Variant.Filled" Count="@ResponseModel.PageSetting.PageCount" Style="margin-top:3%" />
}