@* @inherits LayoutComponentBase *@
@* *@
@* <div class="page"> *@
@*     <div class="sidebar"> *@
@*         <NavMenu /> *@
@*     </div> *@
@* *@
@*     <main> *@
@*         <div class="top-row px-4"> *@
@*             <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
@*         </div> *@
@* *@
@*         <article class="content px-4"> *@
@*             @Body *@
@*         </article> *@
@*     </main> *@
@* </div> *@
@* *@
@* <div id="blazor-error-ui"> *@
@*     An unhandled error has occurred. *@
@*     <a href="" class="reload">Reload</a> *@
@*     <a class="dismiss">🗙</a> *@
@* </div> *@

@inherits LayoutComponentBase

@* <div class="page">
    <div class="sidebar">
        <MudNavMenu Rounded="true" Margin="Margin.Dense" Color="Color.Primary" Class="pa-2">
            <MudNavLink Href="/dashboard" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
            <MudNavLink Match="NavLinkMatch.Prefix" Href="/components/navmenu" Icon="@Icons.Material.Filled.Storage">Servers</MudNavLink>
            <MudNavLink Href="/thelab" Icon="@Icons.Material.Filled.Science">The Lab</MudNavLink>
        </MudNavMenu>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
 *@
@*
<MudDrawerContainer Class="mud-height-full">
    <MudNavMenu Rounded="true" Margin="Margin.Dense" Color="Color.Primary" Class="pa-2">
        <MudNavLink Href="/dashboard" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
        <MudNavLink Match="NavLinkMatch.Prefix" Href="/components/navmenu" Icon="@Icons.Material.Filled.Storage">Servers</MudNavLink>
        <MudNavLink Href="/thelab" Icon="@Icons.Material.Filled.Science">The Lab</MudNavLink>
    </MudNavMenu>
    <div class="d-flex justify-center align-center mud-height-full">
        @Body
    </div>
</MudDrawerContainer> *@

<MudPaper Height="900px" Style="overflow:hidden; position:relative;">
    <MudDrawerContainer Class="mud-height-full">
        <MudDrawer @bind-Open="open" Elevation="0" Variant="@DrawerVariant.Persistent" Color="Color.Default">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">POS</MudText>
            </MudDrawerHeader>
            <MudNavMenu Dense="true" Rounded="true" Margin="Margin.Dense" Color="Color.Success" Class="pa-2">
                <MudNavLink Match="NavLinkMatch.All" Href="/" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="/product" Icon="@Icons.Material.Filled.ProductionQuantityLimits">Products</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="/product-category" Icon="@Icons.Material.Filled.Category">Product Category</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="/customer" Icon="@Icons.Material.Filled.Person">Customers</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="/staff" Icon="@Icons.Material.Filled.Person4">Staffs</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="/township" Icon="@Icons.Material.Filled.Room">Townships</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="/state" Icon="@Icons.Material.Filled.AddLocation">States</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="/sale-invoice-list" Icon="@Icons.Material.Filled.AssuredWorkload">Sale Invoice</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="/tax" Icon="@Icons.Material.Filled.AttachMoney">Tax</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="/report" Icon="@Icons.Material.Filled.RepeatOn">Report</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="/shop" Icon="@Icons.Material.Filled.Shop">Shop</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        <div class="d-flex mud-height-full">
            <MudContainer MaxWidth="MaxWidth.Large" Class="ma-4">
                @Body
            </MudContainer>
        </div>
    </MudDrawerContainer>
</MudPaper>
@code
{
    bool open = true;

    private async Task MenuClick(string url)
    {
        await InjectService.EnableLoading();
        Nav.NavigateTo(url);
    }
}


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<RadzenComponents />