@page "/report"

<MudGrid>
    <MudItem xs="12" sm="6">
        <MudDatePicker Label="FromDate" DateChanged="@(e => FromDateChanged(e))" DateFormat="dd/MMM/yyyy" />
        <MudDatePicker Label="ToDate" DateChanged="@(e => ToDateChanged(e))" DateFormat="dd/MMM/yyyy" />
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudSelect T="EnumReportDate" Label="Report Range" Variant="MudBlazor.Variant.Outlined" @bind-Value="@DateFormat" SelectedValuesChanged="OnValueChanged">
            <MudSelectItem Value="EnumReportDate.None"/>
            <MudSelectItem Value="EnumReportDate.Daily"/>
            <MudSelectItem Value="EnumReportDate.Monthly"/>
            <MudSelectItem Value="EnumReportDate.Yearly"/>
        </MudSelect>
    </MudItem>
</MudGrid>
<br />
@if (responseModel is not null)
{
    int count = 0;
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Sale Invoice Date</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in responseModel.Data.Report)
            {
                <tr>
                    <td>@(++count)</td>
                    <td>@(item.SaleInvoiceDate.ToDateTime().ToString("dd/MMM/yyyy"))</td>
                    <td>@item.TotalAmount</td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
    <MudPagination SelectedChanged="PageChanged" Variant="MudBlazor.Variant.Filled" Count="@responseModel.PageSetting.PageCount" Style="margin-top:3%" />
}

@code {
    private enum EnumReportDate
    {
        None,
        Daily,
        Monthly,
        Yearly
    }
}