@page "/product"

<MudText Typo="Typo.h6">
    <MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="Create" OnClick="Popup"></MudIconButton>
    Product
</MudText>


@if (ResponseModel is not null)
{
    int count = 0;
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Product Category Code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ResponseModel.Data.Product)
            {
                <tr>
                    <td>@(++count)</td>
                    <td>@item.ProductCode</td>
                    <td>@item.ProductName</td>
                    <td>@item.ProductCategoryCode</td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
}


@code {
    private ProductListResponseModel? ResponseModel;

    protected override async Task OnInitializedAsync()
    {
        // ResponseModel = await HttpClientService.ExecuteAsync<ProductListResponseModel>(Endpoints.Product, EnumHttpMethod.Get);
        await List();
    }

    private async Task List()
    {
        ResponseModel = await HttpClientService.ExecuteAsync<ProductListResponseModel>(Endpoints.Product, EnumHttpMethod.Get);
    }

    private async Task Popup()
    {
        var dialog = await DialogService.ShowAsync<P_ProductDialog>("New Product");
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await List();
        }
    }
}
