@page "/report"


<MudGrid>
    @* <MudItem xs="5" sm="3">
        <MudDatePicker Label="FromDate" Editable="true" Clearable="true" DateChanged="@(e => FromDateChanged(e))" DateFormat="dd/MMM/yyyy" />
        <MudDatePicker Label="ToDate" Editable="true" Clearable="true" DateChanged="@(e => ToDateChanged(e))" DateFormat="dd/MMM/yyyy" />
    </MudItem> *@
    <MudItem xs="5" sm="3">
        <MudSelect T="EnumReportDate" Label="Report Range" Variant="MudBlazor.Variant.Outlined" @bind-Value="@dateFormat" SelectedValuesChanged="OnValueChanged">
            <MudSelectItem Value="EnumReportDate.None" />
            <MudSelectItem Value="EnumReportDate.Daily" />
            <MudSelectItem Value="EnumReportDate.Monthly" />
            <MudSelectItem Value="EnumReportDate.Yearly" />
        </MudSelect>
    </MudItem>
    <MudItem xs="5" sm="4">
        <MudStack>
            @if (dateFormat == EnumReportDate.Daily)
            {
                <MudDateRangePicker Margin="Margin.Dense" Editable="true" Clearable="true" DateFormat="dd/MMM/yyyy"
                                    PlaceholderStart="Start Date" PlaceholderEnd="End Date" DateRangeChanged="@(e => DateRangeChanged(e))" />
            }
            else if (dateFormat == EnumReportDate.Monthly)
            {
                <MudDateRangePicker Margin="Margin.Dense" Editable="true" Clearable="true" DateFormat="MMM/yyyy" 
                                    PlaceholderStart="Start Month" PlaceholderEnd="End Month" DateRangeChanged="@(e => DateRangeChanged(e))" />
            }
            else if (dateFormat == EnumReportDate.Yearly)
            {
                <MudDateRangePicker Margin="Margin.Dense" Editable="true" Clearable="true" DateFormat="yyyy"
                                    PlaceholderStart="Start Year" PlaceholderEnd="End Year" DateRangeChanged="@(e => DateRangeChanged(e))" />
            }
             @* <MudStack Row="true">
                <MudSwitch @bind-Value="@_editable" Color="Color.Secondary">Editable</MudSwitch>
                <MudSwitch @bind-Value="@_clearable" Color="Color.Secondary">Clearable</MudSwitch>
            </MudStack>  *@
        </MudStack>
    </MudItem>
</MudGrid>
<br />
@if (responseModel is not null)
{
    int count = 0;
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Sale Invoice Date</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in responseModel.Data.Report)
            {
                <tr>
                    <td>@(++count)</td>
                    <td>@* @(item.SaleInvoiceDate.ToDateTime().ToString("dd/MMM/yyyy")) *@
                        @if (dateFormat == EnumReportDate.Daily)
                        {
                            @(item.SaleInvoiceDate.ToDateTime().ToString("dd/MMM/yyyy"));
                        }
                        else if (dateFormat == EnumReportDate.Monthly)
                        {
                            @(item.SaleInvoiceDate.ToDateTime().ToString("MMM/yyyy"));
                        }
                        else
                        {
                            @(item.SaleInvoiceDate.ToDateTime().ToString("yyyy"));
                        }
                    </td>
                    <td>@item.TotalAmount</td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
    <MudPagination SelectedChanged="PageChanged" Variant="MudBlazor.Variant.Filled" Count="@responseModel.PageSetting.PageCount" Style="margin-top:3%" />
}

@code {
    private enum EnumReportDate
    {
        None,
        Daily,
        Monthly,
        Yearly
    }
}